body {
    background: linear-gradient(#1C2A44,whitesmoke, grey);
    overflow: hidden;
}

.circle {
    animation: spin 2s infinite;
}

#outer-circle {
    background: darkcyan;
    border-radius: 50%;
    height: 45vw;
    width: 45vw;
    position: relative;
    margin: auto;
    margin-top: 5vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #02E4E7;
}

.inner-circle {
    position: absolute;
    background: #02E4E7;
    border-radius: 50%;
    height: 35vw;
    width: 35vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #D3DFF6;
    top: 50%;
    left: 50%;
    margin: -17.5vw 0px 0px -17.5vw;
}

.inner-circle1 {
    position: absolute;
    background: #AAC5C6;
    border-radius: 50%;
    height: 25vw;
    width: 25vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #344056;
    top: 50%;
    left: 50%;
    margin: -12.5vw 0px 0px -12.5vw;
}

.inner-circle2 {
    position: absolute;
    background: #D3DFF6;
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #02E4E7;
    top: 50%;
    left: 50%;
    margin: -7.5vw 0px 0px -7.5vw;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
